.form_list {
  font-size: 16px;
  .form_item{
    position: relative; margin-bottom: 20px;
    label {
      position: absolute;left: 10px; height: 45px; line-height: 45px; color: #CDCDC1;
    }
    input {
      padding: 10px; background: none; font-size: 16px; padding-left: 35px;
      border-bottom: 1px solid #eee;
      width: 100%;
      color: #CDCDC1;
      &::placeholder {
        color:#CDCDC1;
        font-size: 16px;
      }
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  .form_item_tips {
    font-size: 14px; text-align: center; margin-top: -10px
  }
}
