@charset "utf-8";
/* CSS Document */
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { height: 100vh;}
body, div, p, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, button, select, th, td, blockquote, pre, code, hr, article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { margin: 0; padding: 0; }
body, button, input, select, textarea { font: 12px/150% Arial, Verdana, "SimSun"; }
ol, ul { list-style: none; }
input { outline: none; }
em, i { font-style: normal; }
input { border: none }
a { outline: 0; text-decoration: none; color: #333; }
a:hover { text-decoration: none; color: #ff6600; }
.clearfix, .layout { zoom: 1; }
.clearfix:after, .layout:after { visibility: hidden; display: block; content: "."; font-size: 0; height: 0; clear: both; }

.page {
  width: 100vw;
  height: 100vh;
  background: #4a86e8;
}
