.login {
  background: url($res + 'login_bg.jpg');
  background-size: 100%; background-position: bottom;
  position: relative;
  .login_main {
    height: 300px; width: 400px;
    background: rgba(0,0,0,.3);
    position: absolute; left: 50%; margin-left: -200px; top: 50%; margin-top: -150px;
    border-radius: 10px;
    color: #fff; padding: 30px;
    .login_box {
      margin-top: 10px; padding: 10px 20px;
    }
  }
}
